:root {
  --font-family: 'Borel', cursive;
  --background-color: #bfd1e5;
  --background-color-container: #C78283;
  --color-letter-navbar: #f8c630;
  --navbar-color: #744253;
  --color-letter: #212738;
}

.MuiTypography-root {
  font-family: var(--font-family);

}

.MuiImageListItemBar-title {
  padding-top: 5px;
  font-size: 18px;
  color: var(--color-letter-navbar);

}

.MuiImageListItemBar-subtitle {
  padding-top: 5px;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-letter-navbar);
}






@media (prefers-color-scheme: dark) {


  :root {
    --background-container: #C78283;


  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /*overflow-x: hidden;*/
  font-family: var(--font-family);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

}

body {
  color: var(--background-container);
  background: var(--background-color);
  font-family: var(--font-family);
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/