.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: 0;
  font-family: 'Borel', cursive;
}

.logo {
  position: relative;
}


/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}



.paperContainer {
  width: 90vw;
  padding: 2rem;
  text-align: justify;
  background-color: var(--background-color-container);
  border: none;
  box-shadow: none;
  margin: 0;
}

.indexTitle {

  font-family: var(--font-family);
  text-align: center;
  color: #212738;
  margin-bottom: 6;
  font-size: 3rem;
  font-weight: bold;


}





/* Tablet and Smaller Desktop */
@media (min-width: 769px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

/* Mobile */
@media (max-width: 768px) {

  .paperContainer {
    width: 98vw;
    align-items: center;
    padding: 1rem;
    text-align: left;
  }

  .indexTitle {

    font-family: var(--font-family);
    text-align: center;
    color: #212738;
    font-size: 30px;
    font-weight: bold;


  }







}